[Package]
version: 1
depends:
incremental: False

[Product]
type: localboot
; id is a very short name for the package.
id: mercurial-hgrc
; name is a longer, more descript name.
name: Mercurial hgrc
description: Mercurial hgrc
advice: 
version: 1
priority: 0
licenseRequired: False
productClasses: 
setupScript: mercurial-hgrc.ins
; These are rarely used.
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
