[Package]
version: 1.0
depends:
incremental: False

[Product]
type: localboot
; id is a very short name for the package.
id: yasm
; name is a longer, more descript name.
name: U
description: YASM (assembler)
advice: 
; You should put the version number of the application here.
; If this package isn't for installing an application it doesn't really matter.
version: 1.1.0
priority: 0
licenseRequired: False
productClasses: 
; Change this to something more sensible.
setupScript: yasm.ins
; These are rarely used.
uninstallScript: yasm.unins
updateScript: 
alwaysScript: 
onceScript: 
