[Package]
version: 1
depends:
incremental: False

[Product]
type: localboot
; id is a very short name for the package.
id: mercurial
; name is a longer, more descript name.
name: Mercurial
description: Mercurial
advice: 
version: 1.7.5
priority: 0
licenseRequired: False
productClasses: 
setupScript: mercurial.ins
; These are rarely used.
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
