[Package]
version: 1
depends:
incremental: False

[Product]
type: localboot
; id is a very short name for the package.
id: wince-sdk
; name is a longer, more descript name.
name: Windows CE SDK
description: Windows CE SDK
advice: 
; You should put the version number of the application here.
; If this package isn't for installing an application it doesn't really matter.
version: 5.0
priority: 0
licenseRequired: False
productClasses: 
; Change this to something more sensible.
setupScript: wince-sdk.ins
; These are rarely used.
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
