[Package]
version: 1
depends:
incremental: False

[Product]
type: localboot
; id is a very short name for the package.
id: buildbot-startup
; name is a longer, more descript name.
name: Buildbot Startup Files
description: This package deploys the files involved in starting the Buildbot process on boot, only on w32 builders
advice: 
; You should put the version number of the application here.
; If this package isn't for installing an application it doesn't really matter.
version: 2.3
priority: 0
licenseRequired: False
productClasses: 
; Change this to something more sensible.
setupScript: buildbot-startup.ins
; These are rarely used.
uninstallScript:
updateScript: 
alwaysScript: 
onceScript: 

[ProductDependency]
action: setup
requiredProduct: toolsrepo
requiredStatus: installed
requirementType: before

[ProductDependency]
action: setup
requiredProduct: mozillabuild
requiredStatus: installed
requirementType: before
