[Package]
version: 1
depends:
incremental: False

[Product]
type: localboot
; id is a very short name for the package.
id: binscope
; name is a longer, more descript name.
name: BinScope
description: BinScope
advice: 
version: 001
priority: 0
licenseRequired: False
productClasses: 
setupScript: binscope.ins
; These are rarely used.
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
