[Package]
version: 1
depends:
incremental: False

[Product]
type: localboot
; id is a very short name for the package.
id: machtype-profile
; name is a longer, more descript name.
name: machtype-profile
description: Adds MACHTYPE definition to /etc/profile
advice: 
; You should put the version number of the application here.
; If this package isn't for installing an application it doesn't really matter.
version: 1.0
priority: 0
licenseRequired: False
productClasses: 
; Change this to something more sensible.
setupScript: machtype.ins
; These are rarely used.
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
