[Package]
version: 1
depends:
incremental: False

[Product]
type: localboot
; id is a very short name for the package.
id: disable-jit-debugger
; name is a longer, more descript name.
name: Disable Visual Studio JIT Debugger
description: Disables the just-in-time debugger for Visual Studio, which can cause dialog prompts that block slave reboots (bug 533185)
advice:
; You should put the version number of the application here.
; If this package isn't for installing an application it doesn't really matter.
version: 1.0
priority: 0
licenseRequired: False
productClasses:
setupScript: disable-jit.ins
uninstallScript: enable-jit.ins
updateScript:
alwaysScript: disable-jit.ins
onceScript:
