[Package]
version: 1
depends:
incremental: False

[Product]
type: localboot
; id is a very short name for the package.
id: vc2005sp1_redist
; name is a longer, more descript name.
name: Microsoft Visual C++ 2005 SP1 Redistributable Package (x86)
description: The Microsoft Visual C++ 2005 SP1 Redistributable Package (x86) installs runtime components of Visual C++ Libraries required to run applications developed with Visual C++ on a computer that does not have Visual C++ 2005 installed.
advice: 
; You should put the version number of the application here.
; If this package isn't for installing an application it doesn't really matter.
version: 1.0
priority: 0
licenseRequired: False
productClasses: 
; Change this to something more sensible.
setupScript: vc2005sp1_redist.ins
; These are rarely used.
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
