[Package]
version: 2
depends:
incremental: False

[Product]
type: localboot
; id is a very short name for the package.
id: passwordupdate
; name is a longer, more descript name.
name: Password Update
description: Password Updater
advice: 
; You should put the version number of the application here.
; If this package isn't for installing an application it doesn't really matter.
version: 2.0
priority: 0
licenseRequired: False
productClasses: 
; Change this to something more sensible.
setupScript: passwordupdate.ins
; These are rarely used.
uninstallScript: 
updateScript: 
alwaysScript: passwordupdate.ins
onceScript: 
