[Package]
version: 1
depends:
incremental: False

[Product]
type: localboot
; id is a very short name for the package.
id: python-scripts-path
; name is a longer, more descript name.
name: Add Python/Scripts directory to PATH
description: Add Python/Scripts directory to PATH (bug 552703)
advice: 
; You should put the version number of the application here.
; If this package isn't for installing an application it doesn't really matter.
version: 1.0
priority: 0
licenseRequired: False
productClasses: 
; Change this to something more sensible.
setupScript: python-scripts-path.ins
; These are rarely used.
uninstallScript:
updateScript: 
alwaysScript:
onceScript: 
