[Package]
version: 1
depends:
incremental: False

[Product]
type: localboot
; id is a very short name for the package.
id: rename-vim-install
; name is a longer, more descript name.
name: Rename VIM install.exe
description: Used for rolling out changes to the Buildbot startup batch file
advice: 
; You should put the version number of the application here.
; If this package isn't for installing an application it doesn't really matter.
version: 1.0
priority: 0
licenseRequired: False
productClasses: 
; Change this to something more sensible.
setupScript: vim-install.ins
; These are rarely used.
uninstallScript: vim-install.unins
updateScript: 
alwaysScript: 
onceScript: 
