[Package]
version: 1
depends:
incremental: False

[Product]
type: localboot
; id is a very short name for the package.
id: win7-sdk
; name is a longer, more descript name.
name: Windows 7 SDK
description: Windows 7 SDK
advice: 
; You should put the version number of the application here.
; If this package isn't for installing an application it doesn't really matter.
version: 7.0
priority: 0
licenseRequired: False
productClasses: 
; Change this to something more sensible.
setupScript: win7-sdk.ins
; These are rarely used.
uninstallScript:
updateScript: 
alwaysScript: 
onceScript: 
