[Package]
version: 1
depends:
incremental: False

[Product]
type: localboot
id: cleanup
name: Cleanup temp files
description: Removes temp files and logs
advice: 
version: 1.0
priority: 0
licenseRequired: False
productClasses: 
setupScript: cleanup.ins
uninstallScript: 
updateScript: 
alwaysScript: cleanup.ins
onceScript: 
