[Package]
version: 1
depends:
incremental: False

[Product]
type: localboot
; id is a very short name for the package.
id: ssh-config
; name is a longer, more descript name.
name: SSH Configuration
description: SSH Configuration
advice: 
; You should put the version number of the application here.
; If this package isn't for installing an application it doesn't really matter.
version: 1.2
priority: 0
licenseRequired: False
productClasses: 
; Change this to something more sensible.
setupScript: ssh-config.ins
; These are rarely used.
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
