[Package]
version: 1.0
depends:
incremental: False

[Product]
type: localboot
; id is a very short name for the package.
id: twisted_dumbwin32proc
; name is a longer, more descript name.
name: U
description: This package allows buildbot to stop jobs on Windows 
advice: 
; You should put the version number of the application here.
; If this package isn't for installing an application it doesn't really matter.
version: 1.1
priority: 0
licenseRequired: False
productClasses: 
; Change this to something more sensible.
setupScript: twisted_dumbwin32proc.ins
; These are rarely used.
uninstallScript: twisted_dumbwin32proc.unins
updateScript: 
alwaysScript: 
onceScript: 
